<style>
    .title_line {
        border: 1px solid #e5e5e5;
        width: 890px;
        position: relative;
        height: 0;
        top: -33px;
        left: 85px;
    }

    .video-list .header {
        vertical-align: middle;
        height: 70px;
        line-height: 70px;
    }

    .video-list .main.row {
        min-width: 0px;
    }

    .video-list .video-main img {
    }

    .video-list .video-box {
        padding: 0px 30px;
    }

    .video-list .newpage-video-bt {
        width: 100%;
        height: 166px;
        height: 100%;
        background: 0 0;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .video-list .newpage-video-bt .video-play-btn {
        zoom: 1;
        line-height: 59px;
        vertical-align: text-top;
        position: absolute;
        top: 40%;
        left: 50%;
        width: 59px;
        height: 59px;
        margin-left: -29px;
        margin-top: -29px;
        display: block;
        transition: .1s;
        background: url(/video/images/icon.png) -69px -629px no-repeat;
    }

    .video-list .newpage-video-bt:hover {
        color: #00A8DF;
    }

    .video-list .newpage-video-bt:hover .video-play-btn {
        background: url(/video/images/icon.png) -5px -629px no-repeat
    }

    .video-list .col-md-3 .video-desc {
        border-bottom: 1px solid #c7c7cd;
    }

    .professor-list {
        margin-top: 60px;
    }

    .professor-list .header {
        vertical-align: middle;
        height: 70px;
        line-height: 70px;
    }

    .professor-list .main {
        padding: 10px 30px;
    }

    .professor-list .professor-desc {
        padding: 5px 10px;
    }

    .professor-list .professor-desc li {
        font-size: 12px;
        color: #6d6d73;
        margin: 2px 0px;
    }

    .mom-list {

    }

    .mom-list .header {
        vertical-align: middle;
        height: 70px;
        line-height: 70px;
    }

</style>


<!--妈妈评语-->
<div class="mom-list">
    <div class="header">
        <p style="font-size: 18px; margin: 20px 0px 20px; color: rgb(136, 136, 136);">妈妈评语</p>
        <div class="title_line" style="top:-54px;left:85px;"></div>
    </div>
    <div class="main row">
        <div class="mom-box text-center">

        </div>
    </div>
</div>


<!--精彩视频-->
<div class="video-list">
    <div class="header">
        <p style="font-size: 18px; margin: 20px 0px 20px; color: rgb(136, 136, 136);">精彩视频</p>
        <div class="title_line" style="top:-54px;left:85px;"></div>
    </div>
    <div class="main row">
        <div class="video-box text-center">
            <div class="col-md-3">
                <div class="video-main">
                    <img src="/video/images/video-1.jpg">
                    <a class="inline-block-without-size newpage-video-bt" target="_blank"
                       href=" /video/1">
                        <i class="video-play-btn"></i></a>
                </div>
                <div class="video-desc">
                    <br>
                    <p>爱乐奇英语品牌及产品简介</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="video-main">
                    <img src="/video/images/video-2.jpg">
                    <a class="inline-block-without-size newpage-video-bt" target="_blank"
                       href=" /video/2">
                        <i class="video-play-btn"></i></a>
                </div>
                <div class="video-desc">
                    <br>
                    <p>爱乐奇英语品牌及产品简介</p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="video-main">
                    <img src="/video/images/video-3.jpg">
                    <a class="inline-block-without-size newpage-video-bt" target="_blank"
                       href="/video/3">
                        <i class="video-play-btn"></i></a>
                </div>
                <div class="video-desc">
                    <br>
                    <p>爱乐奇英语品牌及产品简介</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="video-main">
                    <img src="/video/images/video-4.jpg">
                    <a class="inline-block-without-size newpage-video-bt" target="_blank"
                       href="/video/4">
                        <i class="video-play-btn"></i></a>
                </div>
                <div class="video-desc">
                    <br>
                    <p>爱乐奇英语品牌及产品简介</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--专家团队-->
<div class="professor-list">
    <div class="header">
        <p style="font-size: 18px; margin: 20px 0px 20px; color: rgb(136, 136, 136);">专家团队</p>
        <div class="title_line" style="top:-54px;left:85px;"></div>
    </div>
    <div class="main row">
        <div class="professor-box">
            <div class="col-md-3">
                <div class="professor-main">
                    <img src="/professor/images/pro-1.png">
                </div>
                <div class="professor-desc">
                    <h4>卡伦•布莱斯</h4>
                    <ul>
                        <li>哈佛大学教授</li>
                        <li>爱乐奇英语教学首席顾问</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="professor-main">
                    <img src="/professor/images/pro-2.png">
                </div>
                <div class="professor-desc">
                    <h4>唐威廉</h4>
                    <ul>
                        <li> 哥伦比亚大学TEFLC</li>
                        <li>爱乐奇英语教学副总裁</li>
                        <li>CCTV英语益智类节目《爱拼才会赢》总顾问</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="professor-main">
                    <img src="/professor/images/pro-3.png">
                </div>
                <div class="professor-desc">
                    <h4>尼葛洛庞帝</h4>
                    <ul>
                        <li>数字化大师</li>
                        <li>麻省理工媒体实验室主席</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="professor-main">
                    <img src="/professor/images/pro-4.png">
                </div>
                <div class="professor-desc">
                    <h4>潘鹏凯</h4>
                    <ul>
                        <li>国际著名的少儿教育专家</li>
                        <li>美国麻省理工博士</li>
                        <li>爱乐奇英语创始人</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>